<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            {# Logo Aplikasi di Kiri #}
            <div class="logo-container app-logo-left">
                <img src="{{ url_for('static', filename='images/bitemark_logo.png') }}" alt="Aplikasi Bitemark Logo" class="app-logo">
            </div>
            <span class="app-title">Login</span> {# Ubah h1 menjadi span.app-title #}
            {# Logo Universitas di Kanan #}
            <div class="logo-container university-logo-right">
                <img src="{{ url_for('static', filename='images/university_logo.png') }}" alt="Logo Universitas" class="university-logo">
            </div>
        </div>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('login') }}">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p class="auth-link">Belum punya akun? <a href="{{ url_for('register') }}">Daftar di sini</a></p>
    </div>
</body>
</html>